:root{
    background-color: #F8F7F4;
}

@font-face {
    font-family: MonaSans;
    src: url('../src/assets/fonts/MonaSans-Medium.ttf') format('ttf');
    src: url('../src/assets/fonts/MonaSans-SemiBold.ttf') format('ttf');
    src: url('../src/assets/fonts/MonaSans-Bold.ttf') format('ttf');
    src: url('../src/assets/fonts/MonaSans-Regular.ttf') format('ttf');
}